################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/sh-ci/.vs/sh-ci
/src/sh-ci/sh-ci/bin
/src/sh-ci/sh-ci/obj
